@charset "UTF-8";

/* FONTS */
@font-face {
    font-family: 'JetBrains Mono';
    src: url('../assets/fonts/JetBrainsMono-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('../assets/fonts/JetBrainsMono-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('../assets/fonts/JetBrainsMono-SemiBoldItalic.woff2') format('woff2');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter-Italic-VariableFont_opsz,wght.ttf') format('truetype');
    font-style: italic;
    font-display: swap;
}

/* COLORS */
:root {

    /* BACKGROUNDS */
    --bg-main: #080b10;
    --bg-secondary:
    radial-gradient(
        circle at 80% 30%,
        #123b68 0%,
        transparent 35%
    ),
    radial-gradient(
        circle at 15% 80%,
        #102a46 0%,
        transparent 30%
    ),
    #080b10;
    --bg-card: #151c27;
    --bg-navbar: #0b1018e6;
    --bg-soft: #1017223f;

    /* TEXT */
    --text-main: #f1f5f9;
    --text-secondary: #a8b3c2;
    --text-muted: #718096;

    /* ACCENTS */
    --accent-primary: #3b82f6;
    --accent-links: #60a5fa;
    --accent-hover: #93c5fd;
    --accent-badges-link: #2563eb;

    /* SPECIAL */
    --accent-gold: #d4a72c;
}

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* BODY */
body {
    background-color: var(--bg-main);
    font-family: "Inter", sans-serif;
    font-size: clamp(14px, 1.5vw, 16px);
    color: var(--text-main);
    line-height: 1.6;
}

/* PRINCIPAL CONTAINER */
.container {
    width: min(90%, 1200px);
    margin-inline: auto;
}

/* GENERIC CLASS */
.generic {
    background-color: var(--bg-card);
    border-radius: 5px;
}

/* SECTIONS SEPARATION */
.section {
    margin-top: 50px;
    margin-bottom: 20px;
    scroll-margin-top: 100px;
}