@charset "UTF-8";

/* COPIED MESSAGE */
#toast {
    text-align: center;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: var(--bg-secondary);
    padding: 10px 20px;
    border-radius: 8px;
    border: 2px solid var(--accent-primary);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

/* CV BUTTON */
.fab {
    background: var(--bg-soft);
    border-radius: 15px;
    font-size: clamp(14px, 1.5vw, 16px);
    transition: 0.3s;
    padding: 10px;
    text-decoration: none;
    background-color: var(--accent-primary);
    color: white;
}

.fab:hover {
    background-color: var(--accent-hover);
    color: black;
    box-shadow: 0 0 12px rgba(32, 226, 200, 0.2);
    transform: translateY(-2px);
}